.forms {
    position: relative;
    width: 300px;
    height: 350px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--bg-color-secondary);
}

.forms div > input,
.forms>select {
    width: 250px;
    height: 32px;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    outline: none;
}

.forms div > p {
    color: var(--text-color-secondary);
    font-size: 12px;
    margin-bottom: 16px;
    color: red;
}

.forms div  {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.forms div:last-child {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.forms div:last-child > button {
    width: 150px;
    height: 32px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.forms div:last-child>button:first-child {
    background-color: var(--bg-color-primary);
}

.forms div:last-child>button:first-child:hover {
    background-color: green;
}

.forms div:last-child>button:last-child {
    background-color: gray;
}

.forms div:last-child>button:last-child:hover {
    background-color: red;
}