.containerTable {
    width: 768px;
    flex-direction: column;
    table-layout: auto;
    border-collapse: collapse;
}

.tableHeader {
    background-color: var(--bg-color-primary);
    color: white;
    text-align: left;
    font-weight: 600;
}

.tableHeader th,
.tableBodyValues td {
    padding: 16px 10px;
}

.containerValueTable {
    height: 652px;
    border: 1px solid var(--bg-color-primary);
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tableBodyValues {
    border: 1px solid var(--bg-color-primary);
    border-radius: 6px;
    height: 60px;
}

.tableBodyValues>td:last-child {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .containerTable, .containerValueTable {
        width: 100%;
    }

    .tableHeader>tr>th:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .tableHeader>tr>th:nth-child(3) {
        display: none;
    }
}